.card {
    max-width: 360px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border: 1px solid lightgrey;
    box-shadow: 1px 3px 10px lightgrey;
}

.questionAndAnswer {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 20px
}