.disable {
    pointer-events: none;
    text-decoration: none;
    color: black;
}

.disable a {
    text-decoration: none;
    color: black;
}
.packNameContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}
.packName a{
    text-decoration: none;
    color: black;
}