.profile {
    gap: 20px;
    align-items: center;
    margin: 0 auto 80px auto;
    height: 100%;
}

.profile p {
    margin: 0;
}

.email {
    color: gray;
}

.logoutBtn {
    box-shadow: 1px 2px 4px gray
}

.profilePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    gap: 40px;
}

.returnBack {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    width: fit-content;
}

.returnBack p {
    font-weight: 500;
}
